.background {
    background: rgb(119,105,193);
    background: linear-gradient(60deg, rgba(119,105,193,1) 0%, rgba(83,134,190,1) 50%, rgba(34,174,186,1) 100%) no-repeat;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.logo-text {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.logo-row {
    margin-top: 40px;
}

.main-title {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 2px 0px #000000;
    margin-top: 20px;
}

.button-block {
    margin-top: 40px;
}

.button-green {
    background-color: #00c9b7;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.button-green:hover, .button-green:active {
    background-color: #008c80;
    color: white;
}

.button-purple {
    background-color: #845ec2;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.button-purple:hover, .button-purple:active {
    background-color: #5C4187;
    color: white;
}

.button-purple:disabled {
    background-color: rgba(92,65,135, .5);
    color: white;
}

.canvas-parent {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.canvas-border {
    border-style: solid; border-width: 2px; border-color: white;
}

.color-text {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.color-input, .color-input:active, .color-input:disabled, .color-input:focus {
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
    color: white;
    text-align: center;
}

.color-input::placeholder {
    color: white;
    text-align: center;
}

input[type="range"]:focus {
    outline: none;
}

#red::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        black 0%,
        red 100%
    );
    height: 5px;
}

#green::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        black 0%,
        green 100%
    );
    height: 5px;
}

#blue::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        black 0%,
        blue 100%
    );
    height: 5px;
}

#hsl-hue::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 20%,
        rgba(0, 255, 0, 1) 40%,
        rgba(0, 255, 255, 1) 60%,
        rgba(0, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );
    height: 5px;
}

#hsl-saturation::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        rgba(128, 128, 128, 1) 0%,
        rgba(153, 102, 102, 1) 20%,
        rgba(179, 77, 77, 1) 40%,
        rgba(204, 51, 51, 1) 60%,
        rgba(230, 25, 25, 1) 80%,
        rgba(255, 0, 0, 1) 100%
    );
    height: 5px;
}

#hsl-value::-moz-range-track {
    -moz-appearance: none;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(102, 0, 0, 1) 20%,
        rgba(204, 0, 0, 1) 40%,
        rgba(255, 0, 0, 1) 50%,
        rgba(255, 51, 51, 1) 60%,
        rgba(255, 153, 153, 1) 80%,
        rgba(255, 255, 255, 1) 100%
    );
    height: 5px;
}


input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: white;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

label {
    color: white;
}

#result, #hsl-result {
    margin-top: 14px;
    color: white;
}

#colored-box {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    border: 2px solid white;
    background-color: white;
}
